<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>price</th>
            <th>color</th>
            <th>size</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products">
            <td>{{item.name}}</td>
            <td><img width="100" height="100" [src]="item.imageUrl" [alt]="item.name"></td>
            <td> <span>₹</span>{{item.price}}</td>
            <td>{{item.color}}</td>
            <td>{{item.size}}</td>
        </tr>
    </tbody>
</table>